body{
  background-color: #f7f7f7;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}
.left-section {
  width: 65%;
}
.right-section {
  width: 30%;
  text-align: center;
}
h1 {
  font-size: 30px;
  color: #1a1a1a;
  margin-bottom: 10px;
  margin-left: 4vh;
}
.nego {
  font-size: 24px;
  color: #00c4b4;
  font-weight: 600;
  margin-left: 4vh;
}
.tags {
  display: flex;
  gap: 10px;
  margin: 10px 40px 10px;
}
.tag {
  color: #666;
  font-size: 14px;
}
.tag::before {
  content: "•";
  margin-right: 5px;
}

.stats {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  margin-left: 4vh;
}
.stat {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #666;
}
h2 {
  font-size: 20px;
  color: #1a1a1a;
  margin-bottom: 10px;
  margin-left: 4vh;
}
.info-list, .job-description {
  font-size: 14px;
  color: #333;
}
.info-list li {
  list-style: none;
  margin-bottom: 10px;
}
.info-list li::before {
  content: "•";
  margin-right: 10px;
  color: #666;
}
.job-description li {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 10px;
}
.company-logo {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
}
.company-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.status {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}
.button {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.communicate-btn {
  background-color: #00c4b4;
  color: #fff;
}
.apply-btn {
  background-color: #1a3c34;
  color: #fff;
}
.company-info li {
  list-style: none;
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}
.company-info li::before {
  content: "•";
  margin-right: 5px;
}

.right-section .company-info{
  text-align: left;
}