body{
    background-color: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fair-card{
    margin-top: 15vh;
    margin-left: 24vh;
    background-color: #ffffff;
    padding: 10px 26px;
    width: 29vw;
    border-radius: 12px;
}

.fair-card .fair-head-card > img{
    width: 25vw;
    height: 25vh;
}

.fair-section > a{
    color: #000;
}

.fair-card .fair-foot-card > h3 {
    font-size: 20px;
    font-weight: 600;
}

.fair-card .fair-foot-card img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.fair-card .fair-foot-card p{
    display: flex;
    justify-content: left;
    text-align: center;
    color: #808080;
}